openapi: 3.0.0
info:
  title: Findlabs Defi API
  description: DexScreener compliant API for DeFi data.
  version: 1.0.0
servers:
  - url: https://qn.findlabs.io
contact:
  name: FindLabs Support
  email: support@findlabs.io
  url: http://roadmap.findlabs.io
license:
  name: Apache 2.0
  url: http://www.apache.org/licenses/LICENSE-2.0.html
paths:
  /defi/latest-block:
    get:
      tags:
        - default
      summary: Get Latest Block
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /defi/asset:
    get:
      tags:
        - default
      summary: Get Asset
      parameters:
        - name: id
          in: query
          schema:
            type: string
          example: A.687e1a7aef17b78b.Beaver.Vault
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /defi/pair:
    get:
      tags:
        - default
      summary: Get Pair
      parameters:
        - name: id
          in: query
          schema:
            type: string
          example: A.f74f589351b3b55d.SwapPair.Vault
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /defi/event:
    get:
      tags:
        - default
      summary: Get Events
      parameters:
        - name: fromBlock
          in: query
          schema:
            type: integer
          example: "67100581"
        - name: toBlock
          in: query
          schema:
            type: integer
          example: "67100587"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
